<div class="page-header">
  <h1 data-l20n="aboutPage"></h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2>Zusammenfassung</h2>
	<p>
		Diese Seite wurde mit HTML, Typescript und sowie AngularJS und Bootstrap erstellt. Daneben wurden weitere Bibliotheken verwendet, diese werden unten aufgeführt.
		Ziel ist es, dass diese Website mit wenig Aufwand aufgesetzt und personalisiert werden kann,
		sodass mehr Menschen die Möglichkeit eine statische Website auf Bitbucket zu betreiben nutzen.
	</p>
	<h3>Genutze Bibliotheken</h3>
	<p>
		<ul>
			<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
			<li>
				Bootstrap-Themes von <a href="https://github.com/thomaspark/bootswatch/">bootswatch</a>
			</li>
			<li><a href="http://angular.io/">AngularJS</a><ul>
				<li><a href="https://angular-ui.github.io/bootstrap/">angular-ui-bootstrap</a></li>
				<li><a href="https://github.com/EE/ng-l20n">ng-l20n</a></li>
			</ul></li>
			<li><a href="http://l20n.org/">L20n</a></li>
			<li><a href="http://www.typescriptlang.org/" >TypeScript</a></li>
		</ul>
	</p>
	</div>
</div>