<!doctype html>
<html class="no-js" ng-app="ProjectPage" ng-controller="ProjectPage.ProjectController">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>capnemo.bitbucket.org</title>
  <!-- STYLES -->
  <link rel="stylesheet" ng-href="bower_components/bootswatch/{{css}}/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <!-- LOCALE -->
  <link rel="localization" href="assets/locales/manifest.json">
  <!-- SCRIPTS -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
  <script src="assets/js/l20n.js"></script>
  <script src="assets/js/ng-l20n.js"></script>
</head>

<body>
  <nav class="navbar navbar-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" data-l20n="sitename" href="#"></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a data-l20n="home" href="#" ng-click="gotoPage('start.html')"></a>
          </li>
          <li>
            <a data-l20n="projects" href="#" ng-click="gotoPage('projects.html')"></a>
          </li>
          <li>
            <a data-l20n="toBitbucket" ng-href="https://bitbucket.org/{{config.personalization.username}}/"></a>
          </li>
          <!--
                        <li>
                        <a data-l20n="contact" href="#" ng-click="gotoPage('contact.html')"></a>
                    </li>-->
        </ul>
        <ul class="navbar-nav nav navbar-right">
          <li>
            <a data-l20n="aboutPage" href="#" ng-click="gotoPage('about.html')"></a>
          </li>
          <li ng-if="config.general.enableThemeChange">
            <!-- Split button -->
            <div class="btn-group navbar-btn" uib-dropdown>
              <button id="split-button" type="button" class="btn btn-danger" data-l20n="changeStyle"></button>
              <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only"></span>
              </button>
              <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem" ng-repeat="style in config.general.availableThemes">
                  <a href="#" ng-click="changeStyle(style)">{{style}}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <div class="container" id="mainContent" ng-include="url"></div>
  <div class="container">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</body>

</html>