<div class="row" ng-repeat="project in projects">
    <div class="col-sm-8">
        <h3>{{project.title}} <span ng-if="project.languages" ng-repeat="language in project.languages" class="label label-default">{{language}}</span></h3>
        <p>{{project.description}}</p>
        <div class="btn-group" role="group">
            <a ng-if="project.repo" class="btn btn-primary" ng-href="{{project.repo}}">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <span data-l20n="repo"></span></a>
            <a ng-if="project.website" class="btn btn-default" ng-href="{{project.website}}">
                <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span>
                <span data-l20n="website"></span>
            </a>
            <a ng-if="project.download" class="btn btn-default" ng-href="{{project.download}}">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                <span data-l20n="download"></span>
            </a>
        </div>
    </div>
    <div class="col-sm-4" ng-if="project.screenshots">
        <uib-carousel>
            <uib-slide ng-repeat="screenshot in project.screenshots" ng-click="$parent.openImgModal(screenshot.url,screenshot.description)">
                <img ng-src="{{screenshot.url}}"/>
                <div class="carousel-caption">
                    <p>{{screenshot.description}}</p>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>
</div>