<div class="jumbotron">
	<div class="container">
		<h1 data-l20n="title"></h1>
		<p>auf der Bitbucket-Website von CapNemo. Hier findest du {{ projects.length }} öffentliche Projekte die evtl. interessant sein könnten. Diese Website ist eines davon.
Wenn dir was gefällt oder du einen Verbessungsvorschlag hast, dann schreib doch einfach eine E-Mail.</p>
		<p>
			<div class="btn-group btn-group-justified">
				<a data-l20n="toProjects"   ng-click="$parent.gotoPage('projects.html')" class="btn btn-success"></a>
				<a data-l20n="toBitbucket" href="https://bitbucket.org/CapNemo/" class="btn btn-primary"></a>
			</div>
		</p>
	</div>
</div>