.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.no-js body , .no-js body div {
	/* Handle no Javascript */
}

.carousel {
    margin: 1rem;
    padding: 0;
   
}

.carousel  img {
    margin: auto;
}
.carousel-caption {
    transition: background 0.5s ease-out;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
}

.carousel-caption:hover {
    background: rgba(0,0,0,0.2);
}