<html>
<body>
        <div class="modal-header">
                <button class="close" type="button" ng-click="close()">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span data-l20n="close"></span>
                </button>
                <h3 class="modal-title" style="display: inline;">
                        <span data-l20n="preview"></span>     
                </h3>
        </div>
        <div class="modal-body">
                <img class="img-thumbnail img-responsive centered" ng-src="{{url}}" />
        </div>
        <div class="modal-footer">
                <p>{{description}}</p>
        </div>
</body>
</html>